.DS_Store
.buildlog/
.history
*.iml
*.ipr
*.iws
.idea/
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
test/.test_coverage.dart
.pub-cache/
.pub/
build/
coverage/
pubspec.lock
